{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<section id="hero" class="wrapper-hero wrapper-hero-about">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </div>
</section>

<div id="main-content" class="datenschutz">
  <div class="container">

    <h5>I. Allgemeines zur Datenverarbeitung</h5>

    <p>Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Wir benutzen keine Analyse Software und binden auch keine Drittanbieter (Google Fonts etc.) ein. Zur leichteren Lesbarkeit sind wichtige Informationen im Text fett hervorgehoben.</p>

    <h5>II. Verantwortliche Stelle</h5>

    <p>Der Verantwortliche im Sinne der Datenschutz-Grundverordnung ist:</p>
    <p>Anoxinon e.V.
    <br>c/o Patrick Heinrich von den Driesch
    <br>Sieweckestraße 11
    <br>33330 Gütersloh
    <!--<br>Telefon: <a href="tel:004915732239490">+49 157 32239490</a>-->
    <br>eMail: <a href="mailto:postfach@anoxinon.de">postfach@anoxinon.de</a>
    <br>Amtsgericht Potsdam - Registernummer: 9009</p>

    <h5>III. Einsatzgebiet dieser Datenschutzerklärung</h5>

    <p>Diese Datenschutzerklärung ist, sofern nicht zusätzlich oder anders geregelt, für alle Domains (TLD) des Anoxinon e.V. sowie den zugehörigen Sub-Domains gültig. Folgende TLD werden vom Verein betrieben: <a href="https://anoxinon.de">anoxinon.de</a>, <a href="https://anoxinon.me">anoxinon.me</a> und <a href="https://anoxinon.media">anoxinon.media</a></p>

    <h5>IV. Erhebung und Verarbeitung personenbezogener Daten</h5>

      <hr class="section-hr">

      <h6>1. Bereitstellung der Website</h6>

      <p>Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom Computersystem des aufrufenden Rechners.</p>
      <p>Folgende Daten werden hierbei erhoben:</p>
        <ul>
          <li>Informationen über den Browsertyp und die verwendete Version</li>
          <li>Das Betriebssystem des Nutzers</li>
          <li>Die IP-Adresse des Nutzers</li>
          <li>Datum und Uhrzeit des Zugriffs</li>
        </ul>
      <p>Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt. Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben.</p>
      <p>Die Speicherung in Logfiles erfolgt für 72 Stunden in anonymisierter Form, um die Funktionsfähigkeit der Website sowie die Sicherheit unserer informationstechnischen Systeme zu gewährleisten. Die IP Adressen werden gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.</p>
      <p>Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.</p>
      <p>Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.</p>

      <h6>2. Kontaktaufnahme</h6>

      <p>Eine Kontaktaufnahme über die bereitgestellte E-Mail-Adressen ist möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert. Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.</p>
      <p>Die Verarbeitung der personenbezogenen Daten  dient uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hieran das erforderliche berechtigte Interesse an der Verarbeitung der Daten. Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, die Sicherheit unserer informationstechnischen Systeme sicherzustellen.</p>
      <p>Die Daten bleiben maximal 3 Monate ab Beendigung der Korrespondenz gespeichert, es sei denn es bestehen gesetzliche Verpflichtungen, ein berechtigtes Interesse unsererseits oder sonstige vertragliche Verpflichtungen.</p>
      <p>Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der
      personenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden.</p>
      <p>Sollte der Nutzer der Speicherung der Daten widersprechen wollen, kann der Widerspruch via E-Mail eingereicht werden. Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht.</p>
      <p>Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.</p>

    <h5>V. Auftragsverarbeitung gemäß Art. 28 DSGVO / Weitergabe von Daten</h5>

    <p>Der Nutzer erklärt sich damit einverstanden, dass durch Beauftragung der folgenden Unternehmen zur Erbringung von Dienstleistungen Daten an diese weitergegeben werden:</p>
      <ul>

        <li>Hetzner.de: Serverhosting. Sämtliche Daten, die durch Anbieten von Servern und der anoxinon.de Website anfallen, werden auf Serversystemen der Hetzner Online GMBH gespeichert. Verantwortlicher des Unternehmens ist Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen, Deutschland.</li>
      </ul>
    <p>Auftragsverarbeitungsverträge mit den genannten Unternehmen liegen vor.<br><br>
    Es werden keine Daten an Dritte weitergeben, außer sie haben dazu Ihre Einwilligung nach Art. 6 Abs. 1 a DSGVO erteilt, eine gesetzliche Verpflichtung nach Art. 6 Abs. 1 c DSGVO besteht, oder wenn wir dies für die Vertragsabwicklung ( Art. 6 Abs. 1 b DSGVO) sowie die Geltendmachung, Ausübung und Verteidigung von Rechtsansprüchen benötigen. (Art. 6 Abs. 1 f DSGVO)</p>

    <h5>VI. Datenlöschung und Speicherdauer</h5>

    <p>Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den Gesetzgeber vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt im Anschluss, wenn die vorgeschriebene Speicherfrist abläuft. Es ist möglich dass trotzdem eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.</p>
    <p>Der Betreiber des Dienstes behält sich vor, sämtliche vom Server gespeicherten Daten in Form von Backups für bis zu einem halben Jahr auf externen Systemen vorzuhalten. (Hinweis: Derzeit nutzen wir diesen Rahmen nicht aus und werden nach Evaluierung den exakten Zeitraum an dieser Stelle bekanntgeben)</p>

    <h5>VII. Rechte der betroffenen Person</h5>

      <hr class="section-hr">

      <h6>1. Auskunftsrecht</h6>

      <p>Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob personenbezogene Daten, die Sie betreffen, von uns verarbeitet werden.</p>
      <p>Dazu zählen unter anderem: Kategorie der personenbezogenen Daten, Empfänger, Verarbeitungszwecke, Speicherdauer, Herkunft (sofern die Daten aus Drittquellen kommen), Informationen über automatisierte Entscheidungsfindung, deren Details und ggf. Profiling. (Wir führen die beiden letzten Punkte nicht durch). Außerdem können sie Auskunft über Ihre Rechte (Beschwerderecht, Löschung, Berichtigung, Einschränkung der Verarbeitung) verlangen.</p>

      <h6>2. Recht auf Berichtigung</h6>

      <p>Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem
      Verantwortlichen, sofern die verarbeiteten personenbezogenen Daten, die Sie betreffen, unrichtig oder unvollständig sind. Der Verantwortliche hat die Berichtigung unverzüglich vorzunehmen.</p>

      <h6>3. Recht auf Einschränkung der Verarbeitung und Löschung</h6>

      <p>Sie können die Einschränkung der Verarbeitung der Sie
      betreffenden personenbezogenen Daten verlangen, wenn Sie die Richtigkeit bestreiten, die Verarbeitung unrechtmäßig ist und Sie die Löschung ablehnen und stattdessen die Einschränkung der Nutzung verlangen, wir diese Daten nicht mehr benötigen, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO eingelegt haben.</p>
      <p>Sie können weiters von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, dies zu tun, außer die Verarbeitung ist erforderlich zur Ausübung des Rechts auf freie Meinungsäußerung und Information; zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses, zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
      <p>Sie können weiters von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, dies zu tun, außer die Verarbeitung ist erforderlich zur Ausübung des Rechts auf freie Meinungsäußerung und Information; zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses, zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>

      <h6>4. Recht auf Datenübertragbarkeit</h6>

      <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Verantwortlichen bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Außerdem haben Sie das Recht diese Daten einem anderen Verantwortlichen übermitteln zu lassen.</p>

      <h6>5. Widerspruchs und Widerrufsrecht</h6>

      <p>Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</p>
      <p>Sie haben ebenso das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen.</p>
      <p>Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung zum Zwecke derartiger Werbung einzulegen.</p>

      <h6>6. Recht auf Beschwerde bei einer Aufsichtsbehörde</h6>

      <p>Ihnen steht das Recht auf Beschwerde bei einer Aufsichtsbehörde zu, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt. Sie können sich grundsätzlich an die zuständige Aufsichtsbehörde Ihres Wohnortes oder Arbeitsplatz wenden.</p>

    <h5>VIII. Schlussworte</h5>

    <p>Die letzten Änderungen erfolgten am 28.06.2019. Wir behalten uns vor diese Datenschutzerklärung jederzeit zu ändern. Die aktuelle Version ist jederzeit unter diesem Link zu finden.</p>

  </div>
</div>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
