{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<section id="hero" class="wrapper-hero wrapper-hero-about">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </div>
</section>

<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">

        <div class="faq-menu">
          {{ range $.Site.Data.faq }}
            <a href="#{{ .id }}"><button class="btn">{{ .shorttitle }}</button></a>
          {{ end }}
        </div>

      </div>

      <div class="col-lg-8 col-md-12">
        <div class="faq-box">
          {{ range $.Site.Data.faq }}
            <h6 id="{{ .id }}">{{ .title }}</h6>
            {{ $sectionId := .id }}

            {{ range $index, $element := .question }}
              <input class="accordion-radio" type="radio" name="faq-accordion" value="{{ $sectionId }}-{{ $index }}" id="{{ $sectionId }}-{{ $index }}">

              <div class="faq-box-content">
                <label for="{{ $sectionId }}-{{ $index }}" class="accordion">
                  <p>{{ .title }}</p>
                </label>

                <div class="panel">
                  <p>{{ .text | markdownify }}</p>
                </div>
              </div>
            {{ end }}
          {{ end }}

        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
