{{ define "title" }} {{ .Title }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}

<section id="hero" class="wrapper-hero wrapper-hero-about">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
  </div>
</section>

<section class="mitmachen">
  <div class="container">
    <article>
      <h5>Ja, ich will...</h5>

      <p class="small-txt">Du interessierst dich für freie und quelloffene Software, Verschlüsselung, sowie Anonymität im Internet und bist von einer gemeinschaftlichen Digitalisierung überzeugt, die in erster Linie Menschen nutzen soll? Dann möchtest du vielleicht genau diese Themen gesellschaftlich voranbringen, dich der Community anschließen und deine Talente bei Anoxinon einbringen. Wir zählen auf dich!</p>

      <p class="small-txt">Die Einstiegshürde ist wirklich gering: Sofern du das 16. Lebensjahr angetreten hast, kannst du die meisten Tätigkeiten in Angriff nehmen. Eine Mitgliedschaft im Verein ist dabei grundsätzlich nicht erforderlich. Der Zeitaufwand kann individuell abgesprochen werden. Wir sind eine freundliche Truppe, die Neuzugänge gerne aufnimmt.</p>

      <p class="small-txt">Schau Dir doch mal die Details in den nachfolgenden Sektionen an. Generell gilt, dass eine Vereinbarung über die ehrenamtliche Tätigkeit unterzeichnet werden muss. Ein Blanko lassen wir Dir gerne zukommen.</p>

      <p class="small-txt">Hoffentlich dürfen wir dich bald an Bord begrüßen! :)</p><br>
    </article>

    <article class="mitmachen-info">
      <h6>Hinweis</h6>
      <p class="small-txt">Alle weiteren Informationen findest Du in den verlinkten PDF-Dateien.  <br>
      Bei Fragen kannst Du dich gerne an <a href="mailto:postfach@anoxinon.de">postfach@anoxinon.de</a> wenden.</p>
    </article>

    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="autor-in">Autor:in</h6>
          <p class="small-txt">Dein Glückstrip hast du, wenn deine Finger über die Tasten fliegen, wenn du bei Recherchen wieder etwas mehr über unsere Welt lernst und wenn du Informationen für andere zu Papier bringst? Dann könntest du Beiträge für Anoxinon in Form von Text, Audio oder Video erstellen.</p>
          <a class="btn" href="/files/Anoxinon_AutorIn.pdf">PDF herunterladen</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="lektor-in">Lektor:in</h6>
          <p class="small-txt">Du bist der Deutschen Sprache mächtig und möchtest den Rücken unserer Redaktion bilden? Dann stünde die Möglichkeit für dich offen, unsere Inhalte zu prüfen und Korrektur zu lesen, sowie dafür zu sorgen, dass unsere qualitiativen und stilistischen Richtlinien eingehalten werden.</p>
          <a class="btn" href="/files/Anoxinon_LektorIn.pdf">PDF herunterladen</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="grafiker-in">Grafiker:in</h6>
          <p class="small-txt">Du hast ein Händchen für Grafiken oder Animationen? Dann könntest du Thumbnails, Erklärgrafiken, Mindmaps und Flyer für uns erstellen. Auch angehende Grafiker:innen sind bei uns herzlich Willkommen!</p>
          <a class="btn" href="/files/Anoxinon_GrafikerIn.pdf">PDF herunterladen</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="oeffentlichkeitsarbeit">Öffentlichkeitsarbeit</h6>
          <p class="small-txt">Wenn Du kommunikativ und fähig bist, die Schnittstelle zur Öffentlichkeit zu bilden, dann bist du genau richtig, da wir auch in diesem Bereich Verstärkung suchen. Deine Tätigkeiten würden das Erstellen und Verwalten von Kampagnen, das Verfassen von Inhalten für Anoxinon, das Beantworten und Weiterleiten von Nachrichten und das Einbeziehen der Community in bestehende und geplante Inhalte sowie Angebote umfassen.</p>
          <a class="btn" href="/files/Anoxinon_Oeffentlichkeitsarbeit.pdf">PDF herunterladen</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="sysadmin-mastodon">Systemadmin - Mastodon</h6>
          <p class="small-txt">Techie oder Nerd ist der Begriff mit dem dich deine Familie und deine Freunde beschreiben? Dein Know-How ist im Bereich der Administration von Linux-Servern, Mastodon und PostgreSQL angesiedelt? Dann könntest du genau dieses Wissen bei uns einbringen - Deine Aufgabe wäre die Absicherung und Wartung der Mastodon-Instanz und des zugehörigen Servers.</p>
          <a class="btn" href="/files/Anoxinon_Sysadmin_Mastodon.pdf">PDF herunterladen</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="sysadmin-xmpp">Systemadmin - XMPP</h6>
          <p class="small-txt">Techie oder Nerd ist der Begriff mit dem dich deine Familie und deine Freunde beschreiben? Dein Know-How ist im Bereich der Administration von Linux-Servern, ejabberd und PostgreSQL angesiedelt? Dann könntest Du genau dieses Wissen bei uns einbringen - Deine Aufgabe wäre die Absicherung und Wartung des XMPP Angebot und des zugehörigen Servers.</p>
          <a class="btn" href="/files/Anoxinon_Sysadmin_XMPP.pdf">PDF herunterladen</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mitmachen-box">
          <h6 id="sonstige">Sonstige Unterstützung</h6>
          <p class="small-txt">Du kannst dich nicht entscheiden, hilfst aber gerne dort wo es gerade notwendig ist, oder hast ein individuelles Talent? Digitalisierung ist Allgegenwärtig, von daher könntest du dich auch als Allrounder einbringen oder uns deine Beteiligung an deinem Wunschthema im Verein vorschlagen!</p>
          <a class="btn" href="/files/Anoxinon_Sonstiges.pdf">PDF herunterladen</a>
        </div>
      </div>

    </div>
  </div>
</section>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
